<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Summer Fun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/estilos-index.css" media="screen" title="no title" charset="utf-8">
    <link href='imagenes/logo-ico.png' rel='shortcut icon' type='image/png'>

  </head>
  <body>
    <section class="total container-fluid">
      <header>
        <nav class="navega navbar navbar-inverse navbar-fixed-top ">
          <section class="navbar-hader">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">SUMMER FUN</a>

          </section>

          <section class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ubica tu playa</a></li>
              <li><a href="salvavidas.html">Salvavidas</a></li>
              <li><a href="nosaludable.html">Playa No Saludables</a></li>
            </ul>
          </section>
        </nav>
      </header>

      <!-- Tres columnas -->
      <section class="row home">
        <!-- Columna 1-->
        <section class="princ-uv col-xs-12 col-md-4">
          <section class="princ-uv-icon col-xs-4 col-xs-offset-4">
            <figure>
              <img src="imagenes/uv-icon.png" class="img-responsive" />
            </figure>
          </section>
          <section class="container text-center col-xs-12">
            <h1>INFORMACIÓN DE TU PLAYA</h1>
            <p>Encontraras datos muy importantes en tiempo real de cada playa en el litorial norteño del pais <br> ¡No te olvides de usar Bloqueador!
            <section class="princ-uv-btn col-xs-12 middle text-center">
              <a href="#map"><button type="button" class="btn btn-primary">Más Informacion</button></a>
            </section>
          </section>
        </section>


      <!-- Columna 2 -->
      <section class="princ-marea col-xs-12 col-md-4">
        <section class="princ-marea-icon col-xs-4 col-xs-offset-4">
          <figure>
            <img src="imagenes/marea-icon.png" class="img-responsive" />
          </figure>
        </section>
        <section class="container text-center col-xs-12">
          <h1>PLAYAS NO SALUDABLES</h1>
          <p>
            Conoce que playas esta catalogada como no saludable segun los criterios tomado por Dirección General de Salud Ambienta
            <br>
            ¡No te arriesgues!
          </p>
          <section class="princ-marea-btn col-xs-12 middle text-center">
            <a href="nosaludable.html"><button type="button" class="btn btn-primary">Más Informacion</button></a>
          </section>
        </section>
      </section>

      <!-- Columna 3 -->
      <section class="princ-salvavidas col-xs-12 col-md-4">
        <section class="princ-salvavidas-icon col-xs-4 col-xs-offset-4">
          <figure>
            <img src="imagenes/salvavidas-icon.png" class="img-responsive" />
          </figure>
        </section>
        <section class="container text-center  col-xs-12">
          <h1>SALVA VIDAS</h1>
          <p>
            Si alguien esta ahogando en la playa, tú podras ayudar, encontrando rapidamente a un salvavidas, él esta capacitado para actuar en estos momentos de peligro.
            <br>
            Rescata a alguien.
          </p>
        </section>
        <section class="princ-salvavidas-btn col-xs-12 middle text-center">
          <a href="salvavidas.html"><button type="button" class="btn btn-primary">Más Informacion</button></a>
        </section>
      </section>
    </section>

      <!-- /Tres columnas -->

      <!-- Blanco: Summer Fun -->
      <section class="datos_api container-fluid col-xs-12">
        <section class="datos_api_nombre">
          <h1 class="text-center">SUMMER FUN</h1>
        </section>

        <div class="datos_api_1 col-md-6 col-md-offset-3">
              <p>
                Potencializa tu experiencia en las playas del norte, ya sea que disfrutes un atardecer o un día soleado con tus amigos. Esta aplicación te permitirá seguir pasando unas vacaciones con completa tranquilidad, ya que tendrás a la mano información necesaria para prevenirte de algún accidente. O pedir auxilio de manera inmediata.

              </p>
          </div>

        <div class="datos_api_2 container col-xs-12 col-md-6 col-md-offset-3">
            <div class="datos_api_playas col-xs-12 col-md-6">
              <h1 class="text-center">Playas</h1>
              <p>
                <ul class="row col-xs-12">
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/pimentel-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Pimentel</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/eten-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10 middle">Mancora</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/santarosa-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Punta Sal</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/sanjose-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Vichaito</h4>
                  </li>
                </ul>
              </p>
            </div>

            <div class="datos_api_beneficios col-xs-12 col-md-6">
              <h2 class="text-center">Beneficios</h2>
              <p>
                <ul class="row col-xs-12">
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/pimentel-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Ubicación de las playas</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/eten-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10 middle">Datos Meteorológicos</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/santarosa-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Ubicación de Salvavidas</h4>
                  </li>
                  <li class="row col-md-12">
                    <figure class="col-xs-2 col-md-2">
                      <img src="imagenes/sanjose-icon.png" class="img-responsive" />
                    </figure>
                    <h4 class="col-md-10">Salubridad</h4>
                  </li>
                </ul>
              </p>
            </div>
            <div class="col-xs-12 col-md-6 text-center" ng-controller="control">
              <h2 class="text-center">Encuentra tu playa</h2>
              </button>
              <select  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="mySelect" id="mySelect" ng-options="option.name for option in data.availableOptions track by option.id"
                ng-model="data.selectedOption"></select>
              <button class="btn btn-info"ng-click="buscar()">Buscar Ciudad</button>
            </div>
        </div>

      </section>

      <section class="mapa container-fluid row col-xs-12" id="map">
        <div class="mapa-google col-xs-12" id="map-canvas" style="float:left;width:100%;height:100%;"></div>
        </div>
      </section>


      <section class="no-saludable container-fluid row col-xs-12">
        <section class="no-saludable-conten container row col-xs-12">
          <section class="no-saludable-conten-titulo col-xs-12">
            <h2 class="text-center">¡PELIGRO!</h2>
            <h2 class="text-center">PLAYAS NO SALUDABLES</h2>
          </section>
          <div class= "container col-md-6 col-md-offset-3">
              <p>
                Hay 17 playas no saludables según último reporte de Digesa
                <br> Evita poner en riesgo tu salud, con enfermedades como la conjuntivitis, males a la piel como hongos y problemas gastrointestinales.
              </p>
          </div>
          <a href="nosaludable.html"><button type="button" class="col-xs-6 col-xs-offset-3 btn btn-danger">CONOCE CUÁLES SON</button></a>
        </section>
      </section>

      <section class="colaboradores container row col-xs-12">
        <section class="colaboradores-titulo col-xs-12">
          <h2 class="text-center">EQUIPO DE DESARROLLO</h2>
        </section>
        <section class="colaboradores-fila row container col-xs-12 col-md-8 col-md-offset-2">
          <section class="colaboradores-persona col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/j29.jpg" class="img-responsive"/>
            </figure>
            <div class="colaboradores-persona-nombre col-xs-12">
              <h3 class="text-center">JORGE<br>Rios Agurto</h3>
            </div>
            <div class="colaboradores-persona-desc col-xs-12">
              <p class="text-center">
                @J29Rios
                <br>
                Amante de la tecnología y todo lo que necesite energía. Apasionado por el desarrollo de Software y la Educación. I'm #AIESECer & #HackSpacer
              </p>
            </div>
          </section>
          <section class="colaboradores-persona col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/daniel.jpg" class="img-responsive"/>
            </figure>
            <div class="colaboradores-persona-nombre col-xs-12">
              <h3 class="text-center">DANIEL <br>Sánchez Méndez</h3>
            </div>
            <div class="colaboradores-persona-desc col-xs-12">
              <p class="text-center">
                @daniel18mendez
                <br>
                Estudiante de Ingeniería de Sistemas de la Universidad Nacional Pedro Ruiz Gallo. Espacializado en Front End y Diseño de Aplicaciones.
              </p>
            </div>
          </section>
          <section class="colaboradores-persona col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/fernando.jpg" class="img-responsive"/>
            </figure>
            <div class="colaboradores-persona-nombre col-xs-12">
              <h3 class="text-center">FERNANDO<br>Balta Jhong</h3>
            </div>
            <div class="colaboradores-persona-desc col-xs-12">
              <p class="text-center">
                @fernando_balta
                <br>
                Ingeniero Informático egresado de la Universidad De Chiclayo. Desarrollador de aplicaciones Web, entorno Back End.
              </p>
            </div>
          </section>

        </section>

        <section class="apoyo-titulo col-xs-12">
          <h1 class="text-center">CON APOYO</h1>
        </section>

        <section class="colaboradores-fila row container col-xs-12 col-md-8 col-md-offset-2">
          <section class="colaboradores-ins col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/open-data-peru.png" class="img-responsive"/>
            </figure>
          </section>
          <section class="colaboradores-ins col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/logo-hs.png" class="img-responsive"/>
            </figure>
          </section>
          <section class="colaboradores-ins col-md-4">
            <figure class="col-xs-10 col-xs-offset-1">
              <img src="imagenes/dal2015-icon.png" class="img-responsive"/>
            </figure>
          </section>

        </section>

      </section>
    </section>
    <footer class="contanier-fluid  col-xs-12 ">
      <div class="row">
        <div class="col-md-6">
          <h3>2015 Summer Fun</h3>
        </div>
        <div class="col-md-6">
          <a href="#">
            <div class="col-md-3">
              <h3>Facebook</h3>
            </div>
          </a>
          <a href="#">
            <div class="col-md-3">
              <h3>Twitter</h3>
            </div>
          </a>
          <a href="#">
            <div class="col-md-3">
              <h3>GitHub</h3>
            </div>
          </a>
          <a href="#">
            <div class="col-md-3">
              <h3>Youtube</h3>
            </div>
          </a>
        </div>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/script.js"></script>
    <!-- ANGULAR -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
      const miApp = angular.module('app',[]);
      miApp.controller('control', ['$scope', function($scope){
        $scope.data = {
          availableOptions: [
            {id: '0', name: 'Pimentel'},
            {id: '1', name: 'Las Rocas'},
            {id: '2', name: 'Santa Rosa'},
            {id: '3', name: 'Puerto Eten'},
            {id: '4', name: 'San José'},
            {id: '5', name: 'Los Lobos'},
            {id: '6', name: 'Naylamp'},
            {id: '7', name: 'Hondo'},
            {id: '8', name: 'Monsefú'},
            {id: '9', name: 'Media Luna'},
            {id: '10', name: 'Máncora'},
            {id: '11', name: 'Viyachito'},
            {id: '12', name: 'Órganos'},
            {id: '13', name: 'Colán'},
            {id: '14', name: 'Lobitos'},
            {id: '15', name: 'Cabo Blanco'},
            {id: '16', name: 'Yacila'},
            {id: '17', name: 'Pocitas'},
            {id: '18', name: 'Punta Sal'},
            {id: '19', name: 'Zorritos'},
            {id: '20', name: 'Huanchaco'},
            {id: '21', name: 'Pacasmayo'},
            {id: '22', name: 'Salaverry'},
            {id: '23', name: 'El Brujo'}
          ],
          selectedOption: {id: '0', name: 'Pimentel'} //This sets the default value of the select in the ui
          };


        $scope.buscar = function(){
          
        directionsDisplay = new google.maps.DirectionsRenderer();
        let url = location.origin
        let image = url + '/imagenes/icon/beach.png';
        
        $.ajax({
          type: "post",
          data : {'id' :  $scope.data.selectedOption.id } ,
          url: url+ "/rest.php" 
        }).done(function(data) {

        $.each(data.beaches, function(i, beach){
          let Center = new google.maps.LatLng(beach.lat, beach.lng); //Punto Centro
          let mapOptions = {
          zoom: 12,
          center: Center
        }

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

          let position = {lat: beach.lat, lng: beach.lng};
          let title = beach.nombre;
          let marker = new google.maps.Marker({
          map: map,
          position: position,
          title: title,
          icon: image
          });

        attachSecretMessage(marker,
                          "<div><strong>"+ beach.nombre + "</strong></div>" +
                          "<hr><div>Temperatura: " + beach.temp + "</div>" +
                          "<div>Velocidad del Viento: " + beach.velviento + "</div>" +
                          "<div>Direccion del Viento: " + beach.dirvie + "</div>" +
                          "<div>Humedad: " + beach.hum + "</div>" +
                          "<div>Presion: " + beach.pres + "</div>");
            });

         });

        }

      }]);
    </script>
  </body>
</html>
